body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background-color: rgb(127 192 190);
  width: 760px;
  height: 450px;
  border-radius: 20px;
}
.name_card {
  display: flex;
  justify-content: left;
  margin-left: -35px;
  background-color:#ff6100;
  background-size: revert;
  width: 80%;
  height: 45px;
  margin-top: 30px;
  align-items: center;
  color: white;
  font-size: 14px;
  padding-left: 85px;
  font-weight: 700;
}
form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.requsites {
  margin-top: 5px;
  margin-left: 50px;
}
input {
  height: 45px;
  width: 50%;
  margin-top: 5px;
  background-color: rgb(151 200 199);
  border: none;
  font-size: 18px;
  padding-left: 15px;
  border-bottom: 2px solid rgb(84 120 116);
}
label {
  margin-top: 10px;
  font-size: 16px;
  color: rgb(84 120 116);
}
.card {
  display: flex;
  width: 375px;
  gap: 12px;
}
.card_date {
  display: flex;
  justify-content: space-between;
  width: 340px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    rgb(90, 116, 115);
}
.image_card {
  float: right;
  margin-top: -186px;
}