
label{
    font-size:20px;
    font-weight: bold;
}
input[type=text]{
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 200px;
    padding-left: 30px;
    font-size: 16px;
}
input:focus{
    outline: none; 
}
#text{
    border: 2px solid #d8d8d8;
}

#valid{
    border: 2px solid #00a000;
}
#valid::placeholder{
    content: "\f00c";
}
#valid::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #00a000;
}
#invalid::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:red;
}

#invalid{
    border: 2px solid red;
}
#toggle1{
    content: "✓";
}
.form-check{
    font-size: 16px;
}
textarea{
    padding-left: 30px;
    width: 50%;
    height: 150px;
    padding-top: 15px;
}