.fa-circle-user:before, .fa-user-circle:before 
{
    content: "\f2bd";
    font-size: 28px;
}
.fa-lock:before {
    content: "\f023";
    font-size: 28px;
}
.fa-envelope-circle-check:before {
    content: "\e4e8";
    font-size: 28px;
}
