@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
}
@media screen and (min-width: 900px)
{

.border-block{
    max-width:900px;
    height: 100%;
    margin:0 auto;
    margin-top: 2%;
-webkit-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.25);
-moz-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.25);
box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.25);
}    
.container{
    max-width:900px;
    height: 100%;
    background-color: #eaeaea;
    margin:0 auto;
    margin-top: 2%;
    padding: 10px;
}

label{
    font-size: 24px;
}

input{
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    background-color: #eaeaea;
    border-bottom: 2px solid gray;
}
.input-form{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}
.user-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2rem;
}
.input1{
    width: 415px;
    margin-bottom: 20px;
}
.input2{
    width: 160px;
}
.input-line3{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-line5{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
select{
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    background-color: #eaeaea;
    border-bottom: 2px solid gray;
    width: 172px;
}
.reg-form{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.block-label{
    display: flex;
    justify-content: left;
    gap: 310px;
    flex-wrap: wrap;
    margin-left: 10px;
}
.line1{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.line2{
    display: flex;
    gap: 1rem;
}
.line3{
    display: flex;
    margin-top: 20pX;
    align-items: flex-end;
    gap: 1rem;
}
}
.receive{
    margin-left: 10px;
}
hr{
    width: 100%;
    padding: 0;
    margin-top: 20px;
    color: gray;
}
.btn {
    padding: 10px 65px;
    border: none;
    background-color: #009688;
    color: white;
    font-size: 18px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.25);
-moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.25);
box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.25);
}
.btn:hover{
    background-color: #00968796;
}

@media screen and (max-width: 900px){


.border-block{
    max-width:600px;
    height: 100%;
    margin:0 auto;
    margin-top: 2%;
-webkit-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.25);
-moz-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.25);
box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.25);
}    
.container{
    max-width:600px;
    height: 100%;
    background-color: #eaeaea;
    margin-top: 2%;
    padding: 10px;
}

label{
    font-size: 24px;
}

input{
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    background-color: #eaeaea;
    border-bottom: 2px solid gray;
}
.input-form{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.user-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2rem;
}
.input1{
    width: 415px;
    margin-bottom: 20px;
}
.input2{
    width: 160px;
}
.input-line3{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-line5{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
select{
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    background-color: #eaeaea;
    border-bottom: 2px solid gray;
    width: 172px;
}
.reg-form{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.block-label{
    display: flex;
    justify-content: left;
    gap: 310px;
    flex-wrap: wrap;
    margin-left: 10px;
}
.line1{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
.line2{
    display: flex;
    gap: 1rem;
}
.line3{
    display: flex;
    margin-top: 20pX;
    align-items: flex-end;
    gap: 1rem;
}
}
.receive{
    margin-left: 10px;
}
hr{
    width: 100%;
    padding: 0;
    margin-top: 20px;
    color: gray;
}
.btn {
    padding: 10px 65px;
    border: none;
    background-color: #009688;
    color: white;
    font-size: 18px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.25);
-moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.25);
box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.25);
}
.btn:hover{
    background-color: #00968796;


}

@media screen and (max-width: 600px){

.border-block{
    width:320px;
    height: 100%;
    margin:0 auto;
    margin-top: 2%;
-webkit-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.25);
-moz-box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.25);
box-shadow: 0px 0px 10px 5px rgba(34, 60, 80, 0.25);
}    
.container{
    max-width:600px;
    height: 100%;
    background-color: #eaeaea;
    margin-top: 2%;
    padding: 10px;
}

label{
    font-size: 24px;
}

input{
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    background-color: #eaeaea;
    border-bottom: 2px solid gray;
}
.input-form{
    display: flex;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.user-form{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 2rem;
}
.input1{
    width: 100%;
    margin-bottom: 20px;
}
.input2{
    width: 160px;
}
.input-line3{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-line5{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
select{
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    background-color: #eaeaea;
    border-bottom: 2px solid gray;
    width: 172px;
}
.reg-form{
    display: flex;
    gap: 2rem;
    flex-direction: column;
}
.block-label{
    display: flex;
    justify-content: left;
    gap: 310px;
    flex-wrap: wrap;
    margin-left: 10px;
}
.line1{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-direction: column;
}
.line2{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.line3{
    display: flex;
    margin-top: 20pX;
    align-items: flex-end;
    gap: 1rem;
    flex-direction: column;
}
}
.receive{
    margin-left: 10px;
}
hr{
    width: 100%;
    padding: 0;
    margin-top: 20px;
    color: gray;
}
.btn {
    padding: 10px 65px;
    border: none;
    background-color: #009688;
    color: white;
    font-size: 18px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.25);
-moz-box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.25);
box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.25);
}
.btn:hover{
    background-color: #00968796;


}